# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variables
.env
.env.local

# Build outputs
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log